$def with (themeconfig,pageheader,pagecontent,pagefooter)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="utf-8" lang="utf-8">
  <head>
    <title>Macfeng-麦克冯-webpy website</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="macfeng" />
    <meta name="description" content="macfeng,麦克冯的个人站点" />
    <meta name="keywords" content="macfeng,麦克冯,webpy,python" />

    <link rel="stylesheet" type="text/css" media="screen" href="$themeconfig.getStaticCssPath()/screen.css" />
    <script type="text/javascript">

  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-7295076-4']);
  	_gaq.push(['_setDomainName', '.macfeng.net']);
  	_gaq.push(['_trackPageview']);

  	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	})();

    </script>
  </head>
  <body>
  $:pageheader
  $:pagecontent 
  $:pagefooter 
  </body>
</html>
