$def with (themeconfig)
<!-- footer-outer -->
<div id="footer-outer" class="clear"><div id="footer-wrap">

  <div id="gallery" class="clear">

    <h3>MySpace Photos </h3>

    <p class="thumbs">
      <!-- wait to change flickr api-->
      <a href="http://photo.myspace.cn/xinweifeng/photo/727168"><img src="http://b0.ac-images.cdnmyspace.cn/cnimages01/3/c_6366b97bedd1fa374e4f99869c88671d.jpg" width="40" height="40" alt="avatar001" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727167"><img src="http://b0.ac-images.cdnmyspace.cn/cnimages01/3/c_36a4505c1f40dc74562da72926b15bd8.jpg" width="40" height="40" alt="avatar002" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727166"><img src="http://b1.ac-images.cdnmyspace.cn/cnimages01/3/c_dc3ecd9ede8b39e5f97d153fe5f00493.jpg" width="40" height="40" alt="avatar003" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727165"><img src="http://b0.ac-images.cdnmyspace.cn/cnimages01/3/c_cb54c143cc90a9c3bb682f0ae8da6742.jpg" width="40" height="40" alt="avatar004" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727164"><img src="http://b1.ac-images.cdnmyspace.cn/cnimages01/3/c_9c6802389583279d298fe4f5e1a35ecb.jpg" width="40" height="40" alt="avatar005" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727163"><img src="http://b0.ac-images.cdnmyspace.cn/cnimages01/3/c_467874ec0dd4a4bd23708361bde78db9.jpg" width="40" height="40" alt="avatar006" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727162"><img src="http://b2.ac-images.cdnmyspace.cn/cnimages01/4/c_66a1841fe19db3d170973d2ec393c131.jpg" width="40" height="40" alt="avatar007" /></a>
      <a href="http://photo.myspace.cn/xinweifeng/photo/727161"><img src="http://b2.ac-images.cdnmyspace.cn/cnimages01/3/c_5cb0b7e9078d58f1444c7cbb9f926dbb.jpg" width="40" height="40" alt="avatar008" /></a>
      </p>

    </div>

   <div class="col-a">

    <h3>Contact Info</h3>

    <p>
    <strong>aboutme: </strong><a href="http://about.me/xinweifeng">@xinweifeng</a><br/>
    <strong>twitter: </strong><a href="http://twitter.com/xinweifeng">@xinweifeng</a><br/>
    <strong>sina: </strong><a href="http://t.sina.com.cn/xinweifeng">@xinweifeng</a>
    </p>

    <p><strong>myspace: </strong><a href="www.myspace.com/425099286">myspace.com</a></p>
    <p><strong>E-mail: </strong>macfengs#(replace @)gmail.com</p>
    <p>Want more info - go to our <a href="/webpy/about">about page</a></p>

      <h3>Updates</h3>

      <ul class="subscribe-stuff">
      <!--  
        <li><a title="RSS" href="http://www.macfeng.net/wordpress/?feed=rss2" rel="nofollow">
        <img alt="RSS" title="RSS" src="$themeconfig.getStaticImagesPath()/social_rss.png" /></a>
      </li>
      -->
        <li><a title="Facebook" href="http://www.facebook.com/xinweifeng" rel="nofollow">
        <img alt="Facebook" title="Facebook" src="$themeconfig.getStaticImagesPath()/social_facebook.png" /></a>
      </li>
      <li><a title="Twitter" href="http://twitter.com/xinweifeng" rel="nofollow">
        <img alt="Twitter" title="Twitter" src="$themeconfig.getStaticImagesPath()/social_twitter.png" /></a>
      </li>     
      </ul>

      <p>Stay up to date. Subscribe via
    <!--  <a href="http://www.macfeng.net/wordpress/?feed=rss2">RSS</a>, --><a href="http://www.facebook.com/xinweifeng">Facebook</a>,
    <a href="http://twitter.com/xinweifeng">Twitter</a> or <a href="http://www.myspace.com/425099286">MySpace</a>
    </p>

  </div>

  <div class="col-a">

    <h3>Site Links</h3>

    <div class="footer-list">
      <ul>
        <li><a href="/webpy/index">Home</a></li>
        <li><a href="/webpy/child">Child</a></li>
        <li><a href="/webpy/demo">Demo</a></li>
        <li><a href="/webpy/list">List</a></li>
        <li><a href="/webpy/about">About</a></li>
        <li><a href="http://www.macfeng.net/livespace/">LiveSpace Backup</a></li>
        <li><a href="http://fxwcy.wordpress.com/">LiveSpace Wordpress</a></li>
      </ul>
    </div>

      <h3>Friends</h3>

    <div class="footer-list">
      <ul>
        <li><a href="http://royi.me/">杨同学</a></li>
        <li><a href="http://flykobe.com/">程同学</a></li>
        <li><a href="http://www.joezy.me//">余同学</a></li>
        <li><a href="http://www.chinadigitalmusic.com/blog/">白大夫</a></li>
      </ul>
    </div>

  </div>

   <div class="col-a">

      <h3>MyPhotos</h3>

      <div class="footer-list">
      <ul>
        <li><a href="http://www.flickr.com/photos/xinweifeng">
            Flickr
            </a>
        </li>
            <li><a href="http://picasaweb.google.com/fengxinwei">
            PicasaWeb
            </a>
        </li>
            <li><a href="http://www.myspace.cn/xinweifeng">
            MySpaceCN Photo
            </a>
        </li>
      </ul>
    </div>
    <h3>MySNS</h3>

     <div class="footer-list">
      <ul>
        <li><a href="http://www.myspace.com/425099286">MySpaceCom</a></li>
        <li><a href="http://www.myspace.cn/xinweifeng">MySpaceCN</a></li>
        <li><a href="http://www.facebook.com/xinweifeng">Facebook</a></li>
        <li><a href="http://www.google.com/profiles/fengxinwei">Google</a></li>        
        <li><a href="http://twitter.com/xinweifeng">Twitter</a></li>
        <li><a href="http://t.sina.com.cn/xinweifeng">TSina</a></li>
      </ul>
    </div>
    <!-- 
      <h3>Recent Comments</h3>

     <div class="recent-comments">
         <ul>
      <li><a href="index.html" title="Comment on title">Whoa! This one is really cool...</a><br /> &#45; <cite>Erwin</cite></li>
      <li><a href="index.html" title="Comment on title">Wow. This theme is really awesome...</a><br /> &#45; <cite>John Doe</cite></li>
      <li><a href="index.html" title="Comment on title">Type your comment here...</a><br />&#45; <cite>Naruto</cite></li>
      <li><a href="index.html" title="Comment on title">And don't forget this theme is free...</a><br /> &#45; <cite>Shikamaru</cite></li>
         <li><a href="index.html" title="Comment on title">Just a simple reply test. Thanks...</a><br /> &#45; <cite>ABCD</cite></li>
      </ul>
    </div>
    -->
   </div>

   <div class="col-b">
   
      
   
      <h3>Bookmarks</h3>

     <div class="footer-list">
      <ul>
        <li><a href="http://delicious.com">delicious</a></li>        
        <li><a href="http://wallbase.net/">Wallbase</a></li>
        <li><a href="http://cn.engadget.com/">engadgetCN</a></li>
        <li><a href="http://www.verycd.com">Verycd</a></li>
        <li><a href="http://shooter.cn/">Shooter</a></li>
        <li><a href="http://www.apple.com">Apple</a></li>
        <li><a href="http://brokenstones.me/">brokenstones</a></li>
        <li><a href="http://www.google.com/">Google</a></li>
        <li><a href="http://webpy.org/">Webpy</a></li>
        <li><a href="http://sakura99.com/">sakura99</a></li>
      </ul>
    </div>

  </div>

<!-- /footer-outer -->
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

  <p class="bottom-left">
    &copy; 2010 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp;
    <a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
  </p>

  <p class="bottom-right">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
     <a href="http://validator.w3.org/check/referer">XHTML</a>  |
    <a href="/webpy/index">Home</a> |
    <!-- <a href="index.html">Sitemap</a> | 
    <a href="http://www.macfeng.net/wordpress/?feed=rss2">Blog RSS Feed</a> |
    -->
      <strong><a href="#top">Back to Top</a></strong>
   </p>

<!-- /footer-bottom-->
</div>