$def with (themeconfig,pagesidebar)
<!-- content-outer -->
<div id="content-wrap" class="clear" >

  <!-- content -->
   <div id="content">

    <!-- main -->
     <div id="main">
        <div class="post">

          <div class="right">

              <h2><a href="/webpy/about">About This Site</a></h2>
                
               <p><strong>Macfeng Webpy</strong> 
               <p>{VPS：<a title="linode" href="http://www.linode.com/" target="_blank">linode</a>}</p>
<p>{OS: <a title="ubuntu linux" href="http://www.ubuntu.com/" target="_blank">ubuntu</a>}</p>
<p>{webserver: <a title="The Apache Software Foundation" href="http://apache.org/" target="_blank">apache</a>}</p>
<p>{db: <a title="MySQL ::  The world's most popular open source database" href="http://www.mysql.com/" target="_blank">mysql</a>}</p>
<p>{language: <a title="Python" href="http://python.org/" target="_blank">Python</a>}</p>
<p>{domainname: <a title="godaddy" href="http://www.godaddy.com/" target="_blank">godaddy</a>}</p>
<p>{blog: <a title="wordpress" href="http://wordpress.org" target="_blank">wordpress</a>}</p>
<p>{favicon: <a title="facvicon.ico generator" href="http://www.favicon.cc/" target="_blank">favicon.ico Generator</a>}</p>
<p>{main site web application framework: <a title="webpy" href="http://webpy.org/" target="_blank">webpy</a>}</p>
<p>{IDE: <a title="Coda MacOSX" href="http://www.panic.com/coda/" target="_blank">Coda</a>}</p>
<p>{IDE: <a title="Aptana" href="http://www.aptana.com/" target="_blank">Aptana Studio3 pyDev</a>}</p>
               </p>

              

            </div><!-- div.right -->

            <div class="left">

              <p class="dateinfo">10月<span>05</span></p>

                <div class="post-meta">
                    <h4>Post Info</h4>
                      <ul>
                      	<li class="time"><a href="#">10:58:00</a></li>
                        <li class="user"><a href="http://www.macfeng.net">macfeng admin</a></li>
                        <li class="permalink"><a href="http://www.macfeng.net/wordpress/?page_id=2">Wordpress Link</a></li>
                       </ul>
            	</div>

            </div>

      </div><!-- div.post -->
      <div class="post">
        <iframe width="740" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://service.t.sina.com.cn/widget/WeiboShow.php?width=740&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1639986424&verifier=a7415e95"></iframe>
        </div>

        <!-- /main -->
    </div>

	$:pagesidebar      
    <!-- content -->
  </div>

<!-- /content-out -->
</div>
