$def with (themeconfig,pagesidebar)
<!-- content-outer -->
<div id="content-wrap" class="clear" >

    <!-- content -->
    <div id="content">

        <!-- main -->
	    <div id="main">
            <h2><a href="/webpy/child">Child History</a></h2>
                <h3>{儿子出生}</h3>
                <ul>
                    <li>[2011-04-27] 出院回家开始做月子<img src="/webpy/static/baby/20110427-baby.jpg" alt="出院前" /></li>
                    <li>[2011-04-23] 打各种催产素软化宫颈药物不见效果 14:58剖宫产 男婴 4035g 54cm</li>
                    <li>[2011-04-21] 早起破水 入院 2#15</li>
                </ul>
                <h3>{怀孕检查}</h3>
                <ul>
                    <li>[2010-11-03] 有史以来最剧烈的呕吐，这个孕吐怎么就不带停的呢？</li>
                    <li>[2010-10-18] 准确的B超周数14周，可见完整的婴儿形状影像。（子宫前位增大，空腔内可见胎儿轮廓，胎心、胎动可见，头臂长[CRL]:7.5cm,颈项透明层[NT]:1.4mm,羊水最大深度:4.0cm,胎盘:位于前壁）14周B超截图<img src="/webpy/static/baby/20101018-14weeks.jpg" alt="14周B超截图" style="width:600px" /></li>
                    <li>[2010-10-08] 已经12周大，B超可听见胎心，据说2周后爬肚子上可直接听到；脑袋大身子小，是一胎；曹老师还在孕吐.，我戏称她为吐小强，十一就没消停的吐，检查结果是身体各项指标正常，未见异常。</li>
                    <li>[2010-09-06] B超完，六周大</li>
                </ul>
        <!-- /main -->
        </div>

        $:pagesidebar
        <!-- content -->
    </div>

<!-- /content-out -->
</div>