<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>jQTouch &beta;</title>
        <style type="text/css" media="screen">@import "/jqtouch/jqtouch/jqtouch.css";</style>
        <style type="text/css" media="screen">@import "/jqtouch/themes/jqt/theme.css";</style>
        <script src="/jqtouch/jqtouch/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/jqtouch/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
        <script src="/mtp/static/index.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css" media="screen">
            #jqt.fullscreen #home .info {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="jqt">
            <div id="home" class="current">
                <div class="toolbar">
                    <h1>jQTouch</h1>
                </div>
                <ul class="rounded">
                    <li class="arrow"><a href="#ui">User Interface</a></li>
                </ul>
            </div>
            <div id="ui">
                <div class="toolbar">
                    <h1>UI Demos</h1>
                    <a class="back" href="#">Home</a>
                </div>
                <h2>Lists</h2>
                <ul class="rounded">
                    <li class="arrow"><a href="#edge">Edge to Edge</a></li>
                    <li class="arrow"><a href="#plastic">Plastic</a></li>
                    <li class="arrow"><a href="#metal">Metal</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>