<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>mtp list</title>
        <style type="text/css" media="screen">@import "/jqtouch/jqtouch/jqtouch.css";</style>
        <style type="text/css" media="screen">@import "/jqtouch/themes/jqt/theme.css";</style>
        <script src="/jqtouch/jqtouch/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/jqtouch/jqtouch/jqtouch.js?ver=1" type="application/x-javascript" charset="utf-8"></script>
        <script src="/mtp/static/tproxy.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css" media="screen">
            #jqt.fullscreen #home .info {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="jqt">
            <div id="home" class="current">
                <div class="toolbar">
                    <h1>Home</h1>
                </div>
                <ul class="rounded">
                    <li class="arrow"><a href="/mtp/ti/friends.list.html">Friends TimeLine</a></li>
                    <li class="arrow"><a href="#atme">@Me</a></li>
                </ul>
            </div>
            <div id="friendstimelinecallback">
                <div class="toolbar">
                    <h1>Friends</h1>
                    <a class="back" href="#">Home</a>
                </div>
            </div>
        </div>
    </body>
</html>