$def with (themeconfig)
    <!-- sidebar -->
    <div id="sidebar">
        <div class="sidemenu">

        <h3>Cms Control</h3>
        <ul>
          <li><a href="/webpy/cms/">Home</a></li>
          <li><a href="/webpy/cms/alllist">AllList</a></li>
          <li><a href="/webpy/cms/add">Add</a></li>
        </ul>
        </div>

        <div class="sidemenu">

        <h3>Sidebar Menu</h3>
        <ul>
          <li><a href="/webpy/index">Home</a></li>
          <li><a href="/webpy/child">Child</a></li>
          <li><a href="/webpy/demo">Demo</a></li>
          <li><a href="/webpy/list">List</a></li>
          <li><a href="/webpy/about">About</a></li>
          <li><a href="http://www.macfeng.net/wordpress">Wordpress blog</a></li>
          <li><a href="http://www.macfeng.net/livespace">LiveSpace backup</a></li>
          <li><a href="http://www.macfeng.net/website">Old Website</a></li>
          <li><a href="http://www.dreamtemplate.com" title="Web Templates">Web Templates</a></li>
        </ul>
        </div>
        
      <!-- /sidebar -->
    </div>

