$def with (themeconfig,pagesidebar)
<!-- content-outer -->
<div id="content-wrap" class="clear" >

    <!-- content -->
    <div id="content">

        <!-- main -->
        <div id="main">
            <div class="post">
            $if themeconfig.Params['cmspagedata']:
                <div class="right">

                    <h2><a href="/webpy/cms/edit/$themeconfig.Params['cmspagedata'].id">$themeconfig.Params['cmspagedata'].title</a></h2>
                    <p class="post-info">url: <a href="/webpy/cms/edit/$themeconfig.Params['cmspagedata'].id">$themeconfig.Params['cmspagedata'].url</a>
                    </p>
                    <p>
                        $:themeconfig.Params['cmspagedata'].content
                    </p>
                </div>

                <div class="left">
                    <div class="post-meta">
                        <h4>Info</h4>
                        <ul>
                            <li class="user"><a href="#">$themeconfig.Params['cmspagedata'].author</a></li>
                            <li class="time"><a href="#">$themeconfig.Params['cmspagedata'].updatetime</a></li>

                        </ul>
                    </div>
                </div>
            </div><!-- post -->
            <div class="post-bottom-section">
                <h4></h4>
                <div class="right">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'macfengwebpy'; 
                    var disqus_identifier = '$themeconfig.Params['cmspagedata'].id';
                    var disqus_url = 'http://macfeng.net/webpy/cms/$themeconfig.Params['cmspagedata'].id';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
            </div><!-- post-bottom-section -->
        </div><!-- /main -->
        
    $:pagesidebar
    <!-- content -->
    </div>

<!-- /content-out -->
</div>
